* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 0, 0);
}

#opciones {
    text-align: center;
    list-style: none;


}

#opciones li {
    display: inline-block;
  
    padding: 10px;
}

header {
    text-align: center;
}

section {
    background-color: #6d6d6d;
    margin-top: 20px;
    text-align: center;
    color: aqua;
    padding: 20px;
}

footer {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

.boton{
    text-decoration: none;
    color: rgb(0, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    padding: 5px ;
    border-radius: 7px;
    display: inline;
    

}

picture {
    display: flex;
    justify-content: center; /* alineación centrada de la imagen */
}
ul li{ 
    margin: 10px;
    list-style: none;
}
#redes li{
    display: inline-block;
}